.container {

    width: 250px;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 40px;

  }

  .form-label {
    /* padding: auto; */

  }

  .mb-3 {
    display: inline-flex;
    gap: 5px;
  }

  .form-check {
    display: inline-flex;
    gap: 20px;

  }

  .form-label {}

  .btn-warning {
    background-color: burlywood;
    color: black;
    width: 200px;

  }

  .myDiv {
    background-color: white;
    border: 1px solid gray;
    padding: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;

  }

  .form-select {
    margin-top: 20px;
    margin-bottom: 20px;
  }

 
