body{
    margin: 40px;
    padding: 20px;
    background-color: white;
}
table{
    border: 1px solid blue;
    border-collapse: blue;
    width: 100%;
  
}
tr:nth-child(even){
    background-color:yellowgreen;
    border: 1px solid blue;
}
thead{
    background-color: blue;
    color: white;
}
tr:hover {
    background-color: green;
}
