.roundImage {
    border-radius: 50%;
    width: 100px;
    object-fit: cover;
    height: 100px;
    justify-self: center;
}

.main {
    display: grid;
    /* flex-direction:column; */
    margin: auto;
    gap: 15px;
    width: 300px;
    font-size: 20px;
    margin-top: 20px;
    /* width:40%; */
    border: 1px solid blue;
    padding: 15px;
}

.innerDiv {
    display: grid;
    /* border:1px solid; */
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    justify-content: center;
}
