.body {
    background-color: #a8a7e3;
    background-image: url(../img/background-image) ;
    background-image: cross-fade();
    font-size: 21px;
    margin-top: 0px;
    font-family: calibri,canadara,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
}

h1 {
font-size: 30px;
color: #3747b3;
font-family: sans-serif;
text-align: center;
margin-bottom: 0px;
background-color:rgb(50, 169, 205);


}

h2 {
    margin-top: 0px;
    text-size-adjust: 10px;
}
h4 {
    background-color: #c8e3f8;
    font-family: sans-serif;
    text-align: center;
    align-items: center;
    -ms-text-size-adjust: 100px;
   
}

p ,ol {
    font-size: 30px;
    color: #c8e3f8;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 0px;
    background-color:rgb(50, 169, 205);
}

ol {
    font-size: 20px;
    color: #080d11;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 0px;
    background-color:#c8e3f8;
    
}

label {
    display: block;
    width: 130px;
  } */
