 .head {
   image-rendering: auto;
    align-items: center;
    
}
 
 .body {
    background-color: lightblue;
    background-image: url(../cs315/img/background.jpg) ;
    background-image: cross-fade();
    font-size: 21px;
    margin-top: 0px;
    font-family: calibri,canadara,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
 }
 
 h1 {
font-size: 30px;
 color: #3747b3; 
font-family: sans-serif;
text-align: center;
margin-bottom: 0px;
  background-color: #a8a7e3;
 
} 

 h2 {
    margin-top: 0px;
    text-size-adjust: 10px;
}
h5 {
    background-color: #c8e3f8;
    font-family: sans-serif;
    text-align: left;
   text-align: left;
     color: #080d11;
   
}
 
 p {
    font-size: 30px;
    color: #080d11;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 0px;
    background-color:#c8e3f8;
}
 
 ol {
    font-size: 20px;
    color: #080d11;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 0px;
    background-color:#c8e3f8;
    
}

label {
    display: block;
    width: 130px;
  }  
